.dabi-small 
	= surround 'back to ', '' do
		= link_to 'dabi', '/dabi/show'
= image_tag '/assets/dabi3.jpg'

%iframe{height: "349", src: "http://www.youtube.com/embed/0irL1M15DH8?autoplay=1", width: "560"}