.dabi-small 
	= surround 'back to ', '' do
		= link_to 'dabi', '/dabi/show'

.sentence
	.word#happy Happy
	.word#number 5
	.word#number-suffix th
	.word#name Dabs
	.word#exclamation !

.object-group
	.object#chevron
	.object#octagon
	.object#star-five
	.object#diamond
	.object#cut-diamond
	.object#pacman
	.object#egg
	.object#diamond-shield
	.object#diamond-narrow
