<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a class="age" href="/1.html">1</a></li>
      <li><a class="age" href="/2.html">2</a></li>
      <li><a class="age" href="/3.html">3</a></li>
      <li><a class="age" href="/4.html">4</a></li>
      <li><a class="age" href="/5.html">5</a></li>
      <li><a class="age" href="/6.html">6</a></li>
    </ul>
    <h1 id="name"><a href="/index.html"><span id="john">john</span><span id="bok">bok</span><span id="dabi">dabi</span><span id="lee">lee</span><span id="faivus">faivus</span></a></h1>
  </div>
</div>