$font-sam: 'Indie Flower', cursive;
$font-dabi: 'Bangers', cursive;
$font-sam-size: 9em;
$font-dabi-size: 9em;

.body-sam {
  font-family: $font-sam;
}

.sam {
  font-family: $font-sam;
  font-size: $font-sam_size;
}

.sam-small {
  font-family: $font-sam;
  font-size: $font-sam_size * 0.25;
}

.dabi {
  font-family: $font-dabi;
  font-size: $font-dabi-size;
}

.dabi-small {
  font-family: $font-dabi;
  font-size: $font-dabi-size * 0.25;
}

.bigtype {
  font-size: $font-dabi-size * 0.25;
}

.sam-image {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('/assets/sam.jpg') no-repeat;
  }

.quote {
  text-align: left;
  padding: 5em 5em 0 5em;
  font-family: 'Open Sans';
}

.author {
  text-align: left;
  padding: 0em 5em 0 5em;
  font-family: 'Open Sans';
}