$font-sam: 'Indie Flower', cursive;
$font-dabi: 'Bangers', cursive;
$font-sam-size: 10vw;

.body-sam {
  font-family: $font-sam;
}

.sam {
  font-size: $font-sam_size;
}

.sam-small {  
  font-size: $font-sam_size * 0.25;
}

.dabi {
  font-family: $font-dabi;
  font-size: 33vw;
}

.sam-image {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('/assets/sam.jpg') no-repeat;
  }

.quote {
  text-align: left;
  padding: 1em 5em 0 5em;
  font-family: 'Open Sans';
}